@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


$primary   : #55B948;
$secondary : #26A69A;
$accent    : #1976D2;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$green : #0DB04B;

$primary-lighten : color-mix(in srgb, $primary 16%, #ffffff);

// You can also create custom CSS variables for use throughout your app
:root {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent : #{$accent};
  --q-green: #{$green};
  --main-gray : #F6F9FC;

  $primary-lighten: color-mix(in srgb, var(--q-primary) 16%, #ffffff);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;  /* Prevents layout shift */
  
  font-family: Lexend Deca;
  color: #213343;

}

.text-black{
  color:#213343

}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}


.c-pointer{
  cursor: pointer;

}

.right-column-container{

}

.c-box-title{
  font-size: 1.1rem;
  color:#666666;
}

.c-section-bigtitle{
  font-size: 18px;
  font-weight: 600;
}

.c-section-title{
  font-size: 18px;
  font-weight: 500;
}

.c-section-subtitle{
  font-size: 16px;
  font-weight: 400;
}

.c-box-subtitle{
  font-size: 1.05rem;
  color:#666666;
  font-weight: 600;

  &.c-smaller{
    font-size: 0.8rem;
  }
}

.c-small-text{
  font-size:14px !important;
}
.c-font-16{
  font-size: 16px;
} 


.c-list-row{
  &:hover{
    background-color: var(--main-gray);
  }
}

.c-text-dark{
  color: #213343;
}

.q-btn{
  box-shadow: none !important;
  border-radius: 4px;
  &:before{
    box-shadow: none !important;
  }
  .fa{
    font-size: 1.4em ;
  }
  span{
    text-transform: capitalize;
  }
}

.c-btn-outline{
  border: solid 1px var(--q-primary);
  background: #f5f5f5;
}

.c-tab-padding{
  padding: 12px 8px !important
}

.c-limit-text-height{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-color-picker{
  height:200px;
}

.c-relative{
  position:relative;
}

.clickable{
  cursor: pointer;
}


.c-dropdwn-btn{
  .q-btn-dropdown__arrow{
    display: none;
  } 
}

.c-select{
  .q-item{
    min-height: unset;
  }
  &:hover{
    .q-field__control{
      &:before{
        border-color: $primary;
      }
    }
  }
}

.c-select-item{
  min-height: unset;
}

.c-no-border{
  border:none !important;
  .q-expansion-item__container{
   border:none !important;
  }
}

.c-border-right{
  border-right: 1px solid #e7e7e7;
}

.c-border-bottom{
  border-bottom: 1px solid #e7e7e7;
}
.c-border-orange{
  border:solid 1px orange
}

.c-border-primary{
  border:solid 1px var(--q-primary)
}

.c-indicator-chip{
  position:absolute;
}

.c-full-height{
  height:100%;
  max-height:100% ;
}

.fullscreen.q-drawer__backdrop{
  background-color: unset !important;
}


.c-selected-client{
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);

  .q-item:has(.c-expansion-header-hover) {
    
   background-color: color-mix(in srgb, var(--q-primary) 16%, #ffffff);
  }
  .c-title{
  }
}

.c-font-sise-1{
  font-size: 1rem;
}

.c-bg-primary-lighten{
  background-color: color-mix(in srgb, var(--q-primary) 16%, #ffffff);
}

.c-global-popup{
  .q-dialog__backdrop{
    background: none;
  }
}
.c-pa-32{
  padding:32px;
}
.c-px-32{
  padding-left:32px;
  padding-right:32px;
}
.c-pt-32{
  padding-top:32px !important;
}
.c-pl-32{
  padding-left:32px;
}
.c-q-pa-xs{
  padding: 4px 4px !important;
}
.c-q-pa-sm{
  padding: 8px 8px !important;
}
.c-pa-none{
  padding: 0px !important;
}
.c-py-none{
  padding-top: none !important;
  padding-bottom:none !important; 
}
.c-px-lg{
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.c-pa-md{
  padding:8px !important;
}




.c-col-30{
  max-width:30%
}

.c-col-45{
  min-width:45%
}

.c-row{
  flex-direction:row !important ;
}

.c-flex-1{
 flex:1;
}


.c-rounded{
  border-radius: 4px;
}

.c-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}


.c-sticky{
  position: sticky;
  top: 0px;
  opacity: 1;
  z-index: 10;
}

.c-display-content{
  display:contents;
}

.c-display-none{
  display: none;
}


.custom-expansion {
  background-color: var(--expansion-bg-color, transparent);
  border-radius: 4px;
  :deep(.q-expansion-item__container) {
    background-color: var(--expansion-bg-color, transparent);
  }

  .content-wrapper {
    background-color: white;
    padding: 0 16px;
  }
}

.q-expansion-item__toggle-icon{
  transform:rotate(180deg);
  &.q-expansion-item__toggle-icon--rotated{
    transform: unset;
  }
}

.custom-expansion{
  .q-item__section--main{
    flex:unset;
  }
}

.c-btn-group{
 
}

.c-img-cover{
  object-fit: cover;
}

.c-img-contain{
  object-fit: contain;
}

.bg-green{
  background-color: var(--q-green) !important;
}

.bg-green-1{
  background-color: color-mix(in srgb,var(--q-green) 25%, #ffffff 90%) !important;
}

.text-green{
  color:var(--q-green) !important;
}

.bg-green-hover{
  &:hover{
    background-color: color-mix(in srgb,var(--q-green) 25%, #ffffff 90%) !important;
  }

  .q-focus-helper{
    display: none;
  }
}
.bg-blue-hover{
  &:hover{
    background-color: #e3f2fd !important
  }
  .q-focus-helper{
    display: none;
  }
}

.bg-purple-hover{
  &:hover{
    background-color: #f3e5f5 !important;
  }
  .q-focus-helper{
    display: none;
  }
}

.bg-yellow-hover{
  &:hover{
    background-color: #fffde7 !important;
  }
  .q-focus-helper{
    display: none;
  }
}


.rorate-180{
  transition: 0.25s;
transform:rotate(180deg) ;
}


/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  position: absolute;
transform: translateX(-5px);

}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}


/*
::-webkit-scrollbar-thumb {
  background: var(--q-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--q-primary);
}
*/
.page-detail::-webkit-scrollbar-thumb {
  background: #eeeeee !important;
  border-radius: 4px;
}

  
.page-detail::-webkit-scrollbar-thumb:hover {
    background: #eeeeee;
  }

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: var(--q-primary) transparent;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: auto;
}

.scrollable-content {
  /* Enable scrolling for the container */
  overflow-y: auto;
  
  /* Optional: Add some padding to prevent content from touching scrollbar */
  padding-right: 2px;
}
