@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


$primary   : #55B948;
$secondary : #26A69A;
$accent    : #1976D2;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$green : #0DB04B;

$primary-lighten : color-mix(in srgb, $primary 16%, #ffffff);

// You can also create custom CSS variables for use throughout your app
:root {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent : #{$accent};
  --q-green: #{$green};
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;  /* Prevents layout shift */
  
  font-family: Lexend Deca;
  color: #213343;
}


.c-pointer{
  cursor: pointer;

}

.right-column-container{
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
}

.c-box-title{
  font-size: 1.1rem;
  color:#666666;
}

.c-section-title{
  font-size: 18px;
  font-weight: 500;
}

.c-box-subtitle{
  font-size: 1.05rem;
  color:#666666;
  font-weight: 600;
}

.c-small-text{
  font-size:14px !important;
}

.c-list-row{
  &:hover{
    background-color: #f5f5f5;
  }
}

.c-text-dark{
  color: #213343;
}

.q-btn{
  box-shadow: none !important;
  border-radius: 4px;
  &:before{
    box-shadow: none !important;
  }
  .fa{
    font-size: 1.4em ;
  }
  span{
    text-transform: capitalize;
  }
}

.c-limit-text-height{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-color-picker{
  height:200px;
}

.c-relative{
  position:relative;
}

.clickable{
  cursor: pointer;
}


.c-dropdwn-btn{
  .q-btn-dropdown__arrow{
    display: none;
  } 
}

.c-select{
  .q-item{
    min-height: unset;
  }
}

.c-select-item{
  min-height: unset;
}

.c-no-border{
  border:none !important;
  .q-expansion-item__container{
   border:none !important;

  }

  

}

.c-border-right{
  border-right: 1px solid #e7e7e7;
}

.fullscreen.q-drawer__backdrop{
  background-color: unset !important;
}


.c-selected-client{
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);

  .q-item:has(.c-expansion-header-hover) {
   background-color: $primary-lighten
  }
  .c-title{
  }
}

.c-bg-primary-lighten{
  background-color: $primary-lighten;
}

.c-global-popup{
  .q-dialog__backdrop{
    background: none;
  }
}
.c-pa-32{
  padding:32px;
}

.c-pl-32{
  padding-left:32px;
}
.c-q-pa-xs{
  padding: 4px 4px !important;
}
.c-q-pa-sm{
  padding: 8px 8px !important;
}
.c-pa-none{
  padding: none !important;
}
.c-py-none{
  padding-top: none !important;
  padding-bottom:none !important; 
}

.c-row{
  flex-direction:row !important ;
}


.c-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}


.c-sticky{
  position: sticky;
  top: 0px;
  opacity: 1;
  z-index: 10;
}


.c-btn-group{
 
}

.c-img-cover{
  object-fit: cover;
}

.bg-green{
  background-color: var(--q-green) !important;
}

.bg-green-1{
  background-color: color-mix(in srgb,var(--q-green) 25%, #ffffff 90%) !important;
}

.text-green{
  color:var(--q-green) !important;
}

.bg-green-hover{
  &:hover{
    background-color: color-mix(in srgb,var(--q-green) 25%, #ffffff 90%) !important;
  }

  .q-focus-helper{
    display: none;
  }
}
.bg-blue-hover{
  &:hover{
    background-color: #e3f2fd !important
  }
  .q-focus-helper{
    display: none;
  }
}

.bg-purple-hover{
  &:hover{
    background-color: #f3e5f5 !important;
  }
  .q-focus-helper{
    display: none;
  }
}

.bg-yellow-hover{
  &:hover{
    background-color: #fffde7 !important;
  }
  .q-focus-helper{
    display: none;
  }
}


/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--q-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--q-primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--q-primary) transparent;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: auto;
}

.scrollable-content {
  /* Enable scrolling for the container */
  overflow-y: auto;
  
  /* Optional: Add some padding to prevent content from touching scrollbar */
  padding-right: 2px;
}
