.c-shine {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(5px);
    transform: skewX(-25deg);
    animation: none;
  }

  &:hover {
    &:after {
      animation: shine 3s ease-in-out;
    }
  }

  &.loop {
    &:after {
      animation: shine 3s infinite;
    }
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 350%;
  }
}

.c-step-transition {

    transform: translateY(0);
    box-shadow: 0 0 0 #888888;
   
  transition:0.25s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px #888888;
  }
}
